body {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

.item-1 {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px #000000;
}

.color-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

nav {
    margin-left: 1rem;
}

.nav-link {
    color: white;
    font-size: 2rem;
}

.img-fluid {
    width: 20%;
    height: 25%;
}

p {
    font-size: 1rem;
    white-space: normal;
    word-wrap: normal;
}

a {
    color: white;
    font-size: 4rem;
    padding: 30px;
}

@media (max-width: 768px) {
    .item-1 {
        min-height: 100vh;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}
